.contact {
  font-family: "Nunito Sans", sans-serif; }
  .contact h1 {
    text-align: center;
    font-size: 2.25rem;
    color: #2d2d2d;
    margin: 130px 0 18px 0;
    font-size: 2.5rem;
    font-weight: 800; }
  .contact p {
    color: #858787;
    font-size: 0.9em;
    text-align: center;
    max-width: 514px;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 40px; }
    .contact p a {
      color: #13a7fb;
      text-decoration: none; }
      .contact p a:hover {
        text-decoration: underline; }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 500px;
    margin: auto; }
    .contact form .label-input-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contact form .label-input-container label {
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: #2d2d2d;
        font-size: 1em; }
      .contact form .label-input-container input {
        display: block;
        border: 1px solid #dee0e0;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 0.5em;
        font-size: 1.1rem;
        margin-bottom: 1rem; }
      .contact form .label-input-container textarea {
        display: block;
        border: 1px solid #dee0e0;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 0.7em;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        height: 110px; }
    .contact form input[type="submit"] {
      display: inline-block;
      -webkit-appearance: none;
      -webkit-transition: background 500ms ease;
      -o-transition: background 500ms ease;
      transition: background 500ms ease;
      background-image: -webkit-gradient(linear, left top, right top, from(#45bafc), color-stop(51%, #57eea1), to(#45bafc));
      background-image: -webkit-linear-gradient(left, #45bafc 0%, #57eea1 51%, #45bafc 100%);
      background-image: -o-linear-gradient(left, #45bafc 0%, #57eea1 51%, #45bafc 100%);
      background-image: linear-gradient(to right, #45bafc 0%, #57eea1 51%, #45bafc 100%);
      background-size: 300% auto;
      color: #fff;
      border: none;
      border-radius: 6px;
      text-align: center;
      vertical-align: middle;
      font-size: 1.1rem;
      font-weight: 600;
      -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      height: 40px;
      padding: 0px;
      width: 70px;
      font-size: 0.9em; }
      .contact form input[type="submit"]:hover {
        text-decoration: none;
        background-position: right center; }
